
.login-container{
    margin:70px;
    width: 380px;
    background:transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter:blur(20px);
    color:white;
    border-radius: 14px;
    padding: 30px 40px;
    position: absolute;
}
.login-container h1{
    font-size: 30px;
    font-weight: 800;
    letter-spacing:0.5px;
    text-align:center;
}

.container-email,
.container-pass {
    position: relative;
    margin-bottom: 5px;
}

.container-email i,
.container-pass i {
    position: absolute;
    margin-bottom:2px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #c10202;
}

.container-email input,
.container-pass input {
    width: 100%; 
    height:50px;
    border: none;
    border-radius: 60px;
    font-size: 16px;
}

#showLogin{
    
    color:blue;
    text-align:center;
    transition: all 0.4s ease-in-out;
    font-size:20px;
}
.dont-account{
    font-size: 20px;
    text-align:center;
    padding:10px 10px;
    color:#a10202;
}
.container-email input {
    text-indent: 30px;
}

.container-pass input {
    text-indent: 30px; /* or remove this line if you want to use the default */
}
 .container-email input::placeholder,
 .container-pass input::placeholder {
    text-indent: 30px; 
}
.setnewpass input::placeholder
 {
   text-indent: 0px; 
}
.forgot-password p{
    margin-left:15px;
    color:#fff7f7;
}
/* Media queries */
@media (max-width: 768px) {
    .login-container {
        width: 80%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 15px;
    }
}
/*Password chnage successful modal*/
