
.login-container{
    margin:70px;
    width: 380px;
    background:transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter:blur(20px);
    color:white;
    border-radius: 14px;
    padding: 30px 40px;
}
.login-container h1{
    font-size: 30px;
    font-weight: 800;
    letter-spacing:0.5px;
    text-align:center;
}

#showLogin{
    
    color:blue;
    text-align:center;
    transition: all 0.4s ease-in-out;
    font-size:20px;
}
.dont-account{
    font-size: 20px;
    text-align:center;
    padding:10px 10px;
    color:#a10202;
}
/* LOGIN MODAL */
