body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.header {
    background-color: #1D0001;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    padding: 0 5px;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    padding: 0 5px;
}

.nav-links a:hover {
    color: gold;
}

.burger-icon {
    display: none;
}

@media screen and (max-width: 490px) {
    .nav-links {
        display: none;
    }

    .burger-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .nav-links.show {
        display: flex;
    }

    .nav {
        padding-right: 25px;
        padding-left: 25px;
    }

    .navmodal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .navmodal-content {
        display: block;
        background-color: #630F10;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 80%;
        max-width: 300px;
    }
    .navmodal-content a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 18px;
        margin: 15px 0;
        text-align: center;
        transition: color 0.3s ease;
    }
    
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 999;
    }
    
    .overlay.active,
    .navmodal.active {
        display: block;
        padding: 10px;
        text-align: left;
    }

    .close {
        color: gold;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #888;
        text-decoration: none;
        cursor: pointer;
    }
}
.navmodal {
    display: none;
}
.navmodal-content a:hover, 
.navmodal-content a.active {
    color: gold;
}

.nav {
    background-color: #630E15;
    padding: 8px 0;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav ul li {
    margin: 0 10px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.nav ul li a .fi {
    margin-right: 10px;
    font-size: 20px;
}

.nav ul li a:hover,
.nav ul li a.active {
    background-color: #8B1818;
}

@media screen and (max-width: 768px) {
    .nav ul li a {
        flex-direction: column;
        padding: 5px 2.5px;
    }

    .nav ul li a .fi {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .nav ul li a .nav-text {
        display: none;
    }
}

.post-container {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.create-post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    cursor: pointer;
}

.post-input {
    background-color: #f0f2f5;
    border-radius: 20px;
    padding: 10px 15px;
    color: #65676b;
}

.post-space {
    background-color: #f0f2f5;
    border-radius: 20px;
    padding: 10px 15px;
    color: #65676b;
}

/* Post Modal styles */
.postmodal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.postmodal-content {
    display: block;
    background-color: #630E15;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    color: white;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay.active,
.postmodal.active {
    display: block;
}

.close {
    color: gold;
    float: right !important;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: rgb(247, 247, 31);
}

.postmodal-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {

    .postmodal-content {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
        background-color: #630E15;
        color: white;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        color: #FFD700;
        cursor: pointer;
    }
    
    h2 {
        text-align: left !important;
        padding: 10px 15px;
        margin: 0;
        border-bottom: 1px solid #e0e0e0;
        font-size: 18px;
    }

    .post-header {
        padding: 10px 15px;
    }

    .post-header img {
        width: 40px;
        height: 40px;
    }

    .post-input {
        flex-grow: 1;
        padding: 10px 15px;
        border-radius: 0;
        
    }

    #postContent {
        border: none;
        outline: none;
        height: 350px !important;
    }

    .post-options {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        border-top: 1px solid #e0e0e0;
    }

    .add-picture {
        display: flex;
        align-items: center;
        color: white;
    }

    .important {
        display: flex;
        align-items: center;
    }

    .btn-post {
        width: 93% !important;
        margin: 0 20px 20px 20px !important;
        background-color: #ffd700;
        color: #000;
    }
}


/* .modal-content textarea {
    width: 95%;
    height: 100px;
    background-color: whitesmoke;
    border: none;
    color: black;
    resize: vertical;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
}

.modal-content textarea::placeholder {
    color: grey;
} */


.btn-post {
    width: 100%;
    padding: 10px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* .btn-post:hover {
    background-color: #365899;
} */

.create-post .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.create-post .post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.create-post .post-header-info h3 {
    font-size: 16px;
    margin: 0;
}

.create-post .post-header-info p {
    color: #808080;
    margin: 0;
}

.create-post textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.create-post .post-actions {
    display: flex;
    justify-content: space-between;
}

.create-post .post-actions .btn-post,
.create-post .post-actions .btn-cancel {
    background-color: maroon;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-post .post-actions .btn-post:hover,
.create-post .post-actions .btn-cancel:hover {
    background-color: gold;
    color: black;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 7px;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.post-header .post-header-info h3 {
    font-size: 16px;
    margin: 0;
}

.post-header .post-header-info p {
    color: #808080;
    margin: 0;
    font-size: 12px;
    margin-top: 2px;
}

.post-actions {
    margin-top: 10px;
}

.post-actions a {
    color: #808080;
    text-decoration: none;
    margin-right: 10px;
}

.post-actions a:hover {
    text-decoration: underline;
    color: maroon;
}

/* WRITE COMMENT */
.comments-section {
    margin-top: 10px;
}

.comment-input {
    display: flex;
    margin-top: 10px;
}

.comment-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.comment-input button {
    padding: 8px 12px;
    background-color: #630E15;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
}

.comments-list {
    margin-top: 10px;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    border: 1px solid #ccc;
}


/* TABLE FOR ADMIN -START*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #dedbdb;
    padding: 8px;
    text-align: left;
    border: 1px solid #dddddd;
}

td {
    padding: 8px;
    border: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* TABLE FOR ADMIN -END*/


/* FOR SEARCH - START*/
.search-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#searchForm {
    display: flex;
    align-items: center;
}

.search-input-wrapper {
    position: relative;
    flex-grow: 1;
    margin-right: 10px;
}

.search-input-wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

#searchInput {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.btn-primary {
    margin-right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.search-results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.search-results-table th,
.search-results-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.search-results-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.search-results-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.edit-icon {
    margin-right: 20px;
    color: #007bff;
    cursor: pointer;
}

.edit-icon:hover {
    color: #0056b3;
}

.no-results {
    text-align: center;
    color: #888;
    margin-top: 20px;
}

/* FOR SEARCH - START*/


/* MODAL LOGOUT */

/* MODAL */
.logout-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.logout-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    text-decoration: bold;
}

.logout-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


/* All Accounts and Verify Account START*/
#manageAccountModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#manageAccountModal .modal-content {
    background-color: maroon !important;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;

}

.modal-content h2 {
    color: white;
    text-align: center;
}

/* For the icon space */
.nav ul li a .fas { 
    margin-right: 10px;
    font-size: 20px;
}

.modal-content button {
    text-align: center;
    font-weight: bold;
    display: block;
    text-decoration: none;
    border: 2px solid #FFD700;
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #dcbb04;
    color: #1e1e1e;
}

.modal-content button:hover {
    background-color: rgb(252, 217, 14);
    color: black;
}


/* All Accounts and Verify Account END*/


/* Notification Modal Style*/

.notification-modal {
    display: none;
    position: absolute;
    top: 60px;
    right: 120px;
    width: 300px;
    background-color: #f0f2f5;
    border-radius: 8px 0 8px 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.notification-modal::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f0f2f5;
}

.notification-content {
    padding: 15px;
    color: #65676B;
    font-size: 14px;
}


.notification-icon.active {
    color: #1877F2;
}

/*important post*/
.post-container {
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.important-post {
    background-color: #fff;
    border: 1px solid #dddfe2;  
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.important-badge {
    background-color: transparent;
    color: rgb(246, 0, 0);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    position: absolute;
    top: 10px;  
    right: 10px;
}

.important-badge::before {
    content: "❗";
    margin-right: 5px;
}

/* lost&found */
.post-content h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(204, 35, 35);
    padding: 0 !important;
    margin-bottom: 0;
    margin-top: 1rem !important; 
    font-family:'Georgia';
}
