body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.header {
    background-color: #1D0001;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px; 
    padding: 0 5px;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px; 
    padding: 0 5px;
}

.nav-links a:hover {
    color: gold;
}

.burger-icon {
    display: none;
}

@media screen and (max-width: 490px) {
    .nav-links {
        display: none;
    }

    .burger-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .nav-links.show {
        display: flex;
    }

    .nav {
        padding-right: 25px;
        padding-left: 25px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 50;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #630F10;
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 25% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 80%; 
        max-width: 200px;
        text-align: center;
        position: relative; 
    }
    
    .modal-content a {
        color: rgb(247, 229, 126);
        display: block;
        padding: 10px;
        /* border-bottom: 1px solid #ddd;  */
        text-align: left;
    }
    
    .close {
        color: gold;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #888;
        text-decoration: none;
        cursor: pointer;
    }
}

.nav {
    background-color: #630E15;
    padding: 8px 0;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav ul li {
    margin: 0 10px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.nav ul li a .fi {
    margin-right: 10px;
    font-size: 20px;
}

.nav ul li a:hover,
.nav ul li a.active {
    background-color: #8B1818; 
}

@media screen and (max-width: 768px) {
    .nav ul li a {
        flex-direction: column;
        padding: 5px 2.5px;
    }

    .nav ul li a .fi {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .nav ul li a .nav-text {
        display: none;
    }
}
    
.post-container {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.create-post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    cursor: pointer;
}

.post-input {
    background-color: #f0f2f5;
    border-radius: 20px;
    padding: 10px 15px;
    color: #65676b;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #630E15;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    color: white;
}

.close {
    color: gold;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: rgb(247, 247, 31); 
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* .modal-content textarea {
    width: 95%;
    height: 100px;
    background-color: whitesmoke;
    border: none;
    color: black;
    resize: vertical;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
}

.modal-content textarea::placeholder {
    color: grey;
} */


.btn-post {
    width: 100%;
    padding: 10px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* .btn-post:hover {
    background-color: #365899;
} */

.create-post .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.create-post .post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.create-post .post-header-info h3 {
    font-size: 16px;
    margin: 0;
}

.create-post .post-header-info p {
    color: #808080;
    margin: 0;
}

.create-post textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; 
}

.create-post .post-actions {
    display: flex;
    justify-content: space-between;
}

.create-post .post-actions .btn-post, .create-post .post-actions .btn-cancel {
    background-color: maroon;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-post .post-actions .btn-post:hover, .create-post .post-actions .btn-cancel:hover {
    background-color: gold;
    color: black;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header .post-header-info h3 {
    font-size: 16px;
    margin: 0;
}

.post-header .post-header-info p {
    color: #808080;
    margin: 0;
    font-size: 12px;
    margin-top: 2px;
}

.post-actions {
    margin-top: 10px;
}

.post-actions a {
    color: #808080;
    text-decoration: none;
    margin-right: 10px;
}

.post-actions a:hover {
    text-decoration: underline;
    color: #3b5998;
}

/* WRITE COMMENT */
.comments-section {
    margin-top: 10px;
}

.comment-input {
    display: flex;
    margin-top: 10px;
}

.comment-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.comment-input button {
    padding: 8px 12px;
    background-color: #630E15;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
}

.comments-list {
    margin-top: 10px;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    border: 1px solid #ccc;
}


/* TABLE FOR ADMIN -START*/
table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px;
}

th {
    background-color: #dedbdb; 
    padding: 8px;
    text-align: left; 
    border: 1px solid #dddddd;
}

td {
    padding: 8px; 
    border: 1px solid #dddddd; 
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1; 
}
/* TABLE FOR ADMIN -END*/


/* FOR SEARCH - START*/
.search-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#searchForm {
    display: flex;
    align-items: center;
}

.search-input-wrapper {
    position: relative;
    flex-grow: 1;
    margin-right: 10px;
}

.search-input-wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

#searchInput {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.btn-primary {
    margin-right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.search-results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.search-results-table th, .search-results-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.search-results-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.search-results-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.edit-icon {
    margin-right: 20px;
    color: #007bff;
    cursor: pointer;
}

.edit-icon:hover {
    color: #0056b3;
}

.no-results {
    text-align: center;
    color: #888;
    margin-top: 20px;
}

/* FOR SEARCH - START*/


/* MODAL LOGOUT */

    /* MODAL */
    .logout-modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
    }
    
    .logout-modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border-radius: 5px;
        width: 250px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logout-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }